/* LoginPage.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0b192c;
  --secondary-color: #59708b;
  --accent-color: #da5e0c;
  --text-color: #ffffff;

  --font-family-base: Helvetica, Inter, sans-serif;
  --font-size-base: 1rem;
  --font-size-h1: 2.3rem;
  --font-size-h4: 1.5rem;

  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 2rem;
}
#login-page {
  background-color: 59708b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   gap: var(--gap-large);
}

#login-page h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

#login-page .login-fields {
  background-color: #0f2947;
  border-radius: 0.5rem;
  box-shadow: rgba(252, 250, 250, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: var(--gap-medium);
  width: 20rem; /* fixed width */
  border: none;
  gap: var(--gap-medium);
}

#login-page input {
  border: 1px solid darkgrey;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  width: 100%; /* full width of fieldset */
  max-width: 100%; /* prevent growing larger */
}


#login-page label {
  color: var(--text-color);
  font-weight: 500;
}

#login-page input {
  border: 1px solid darkgrey;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  width: 100%;
}

#login-page .sign_in {
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

#login-page .sign_in:hover {
  background-color: var(--accent-color);
}

#login-page .error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}
